@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #444444;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    text-align: center;
    height: 3em;
    padding: 0.5em 0 0 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

section {
    z-index: 700;
}

#sceneContainer {
    width: 100%;
    height: 100%;
    background-color: black;
}

.transition {
    transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}

.hidden {
    display: none;
}

.blue {
    color: white;
    background-color: #66AAFF;
    border: solid 1px #66AAFF;
}

.blue:hover, .blueHover {
    color: #66AAFF;
    background-color: white;
}

.blueBar {
    border-bottom: solid 3px #66AAFF;
}

.red {
    color: white;
    background-color: #ff3344;
    border: solid 1px #ff3344;
}

.red:hover, .redHover{
    color: #ff3344;
    background-color: white;
}

.redBar {
    border-bottom: solid 3px #ff3344;
}

.green {
    color: white;
    background-color: #21972e;
    border: solid 1px #21972e;
}

.green:hover, .greenHover {
    color: #21972e;
    background-color: white;
}

.greenBar {
    border-bottom: solid 3px #21972e;
}

.orange {
    color: white;
    background-color: #ffaf3a;
    border: solid 1px #ffaf3a;
}

.orange:hover, .orangeHover{
    color: #ffaf3a;
    background-color: white;
}

.orangeBar {
    border-bottom: solid 3px #ffaf3a;
}

.gray {
    color: white;
    background-color: gray;
    border: solid 1px gray;
}

.gray:hover, .grayHover {
    color: gray;
    background-color: white;
}

.grayBar {
    border-bottom: solid 3px gray;
}

.shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.modal {
    position: fixed;
    width: 280px;
    height: 5em;

    padding: 2em;

    top: calc(50% - 50px);
    left: calc(50% - 175px);

    border-radius: 15px;

    text-align: center;

    background: rgba(125, 125, 125, .25);
}

#fileLoad{
    margin-top: 25px;
    outline: none;
}

.greenDotBorder {
    border: 3px dotted #21972e !important;
}

#drop_zone {
    border: 3px dotted gray;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 2em 1.5em 1.5em;
    text-align: center;
    color: #fff;
}

.fileName {
    color: white;
}